[submodule "incr"]
	path = incr
	url = https://github.com/dowdiness/incr.git
[submodule "egraph"]
	path = egraph
	url = https://github.com/dowdiness/egraph.git
[submodule "egglog"]
	path = egglog
	url = https://github.com/dowdiness/egglog.git
